/* write your styles here */
marquee{
    background-color: red;
    font-size: x-large;


}
header{
    display: flex;
    justify-content: space-between;
    background-color: #4c4c4c;
}
ul{
margin: 0;
padding: 40px;
list-style: none;
}
li{
    padding-right: 20px;
    display: inline;
    font-size:2em
}
#intro{
    background-image: url("./mockups/images/floral.png");
    background-color: #f18d97;
}

#intro p,h1,button{
    display:flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 20px;
    align-items: center;
   
}
#intro h1{
    font-size: 4em;
}
#intro p{
    border-top:2px solid black;
    border-bottom: 2px solid black;

}
#intro button{
    background-color: black;
    color: #f18d97;
    padding: 20px 50px;
    border:transparent;
    margin-top: 20px;
    width:15%;
    font-size: 1em

}
#intro:hover button{
    background-color:rgb(253, 87, 87);
    color: #000;
}
#serivecs{
    background-image: url("./mockups/images/floral.png");
    background-color: #efece7;
}
#serivecs h2,h3{
    display:flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 20px;
    align-items: center;
    font-size: xx-large
}
.course{
    display: flex;
    justify-content:space-around;
}
#serivecs figure i{
    background-color: transparent;
    font-size: 7em;
    color: #000;
    margin: 20px 140px;
    
}
 #serivecs figure:hover i{
    color:#e78790;
}
 #serivecs figcaption p{
    margin: auto;
}
#profile{
    background-image: url("./mockups/images/floral.png");
    background-color: #ddceb4;
    
}
#profile h2,p{
    display:flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 20px;
    align-items: center;
}
#profile p{
border-top:2px solid black;
border-bottom: 2px solid black;
}
.project{
    display: flex;
    justify-content: center
}

footer{
    background-color: #000;
    color: rgb(250, 245, 245);
    font-size: 2em
}
footer:hover i{
color: red;
}
#contact {
    background-color: #afc7c6;
    background-image: url("./mockups/images/floral.png");
    margin-top: 0px;
}
#contact h2{
    margin: 0px;
}
.soical{
    display: flex;
    justify-content: center
}
.twi{
    font-size: 4em ;
    padding: 40px 40px;
    border:1px solid black;
    border-radius: 100%;
    margin: 10px 10px;
    padding: 20px 20px
}
.twi:hover{
    color:rgb(252, 252, 246);
    background-color: #000;
    border:2px solid white
    ;
}

#contact h2{
    font-size:3em;
    text-align: center;
}

#view-opt span:hover {
    background-color: white;
    color: #000;

}

#view-opt span {
    border: 1px solid;
    border-radius: 100%;
    padding: 15px;
    margin:0px 1px;
    font-size: 1em

}

#view-opt i:hover {
    color: black;
}

.project figure {
    position: relative;
}

.project figure img{
    width: 250px;
    height: 200px;
    border-radius: 40px;
    padding: 1px ;
}

.project figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: -0.5;
    transition: .3s ease;
    background-color: black;
}

.project figure:hover figcaption {
    opacity: 0.8;
    border-radius:40px;
}

.project figure:hover {
    top: 0px;
    bottom:0px;
    left:0px;
    right:0px
}

#view-opt  {
    text-decoration: none;
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

}

.project.fa-user:hover {
    color: #eee;
}
@media only screen and (max-width: 860px)
{
    .course{
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    .course figure i{
        display: flex;
        justify-content: center;
    }
    #profile{
        display:flex;
        justify-content: center;
        flex-direction: column
    }
    .project {
        display:flex;
        justify-content:space-between;
        flex-direction: column;
        flex-wrap: wrap;
        margin:auto
    }
    header{
        display:flex;
        justify-content: space-between;
        w
    }
    header img{
        width: 30%;

    }
    li{
        padding-right: 7px;
        font-size: 20px
    }
    #intro p,h1,button{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 50%;
        padding: 20px;
        align-items: center;
       
    }
    #intro button{
        padding: 1.5em 1em;
    }
    p{
        font-size: 16px
    }


    /* galaxy S5 repoisive*/

    @media only screen and (max-width: 360px)
    {
        ul{
            padding: 80px 3px;
        }
        header img{
            width: 36%;
        }
        #intro h1{
         font-size: 2em
        }
        #intro p{
            font-size: 1.53em;
        }
        #intro button{
            padding: 20px 90px;
            font-size: 1em
        }
        #serivecs p{
            font-size: 2em
            
        }

            .twi{
                font-size: 2em ;
                padding: 40px 50px;
                border:1px solid black;
                border-radius: 100%;
                margin: 10px 10px;
                padding: 20px 20px
            }
    
        }       